/* You can add global styles to this file, and also import other style files */
.left{
    padding: 17px;
    margin-top: 10px;
    margin-right: 20px;
    min-height: 320px;
    border: 1px solid #ccc;
}